

body {
    height: 100hv;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: #00c9ff;
    background:  -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
    background: linear-gradient(to right, #92f39d, #00c9ff);
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokeLogo {
    background:linear-gradient(to right, #92f39d, #00c9ff);
    background:linear-gradient(to right, #92f39d, #00c9ff);
    
}

h1 {    
    align-items: center;
    letter-spacing: 3px;    
}

.poke-container {    
    float: left;
    height: 100%;
    width: 190px;
    border-radius: 13px;
    text-align: center;
    background: #f1f1f1;
    margin:40px 70px;
    padding: 35px;
    
    text-align: center;
    box-shadow: 1px 10px 15px -10px rgba(0, 0, 0, 0.4);
    border: 1px solid #eaeaea;
    position: relative;
   
}

.poke-container p,h2 {
    text-transform: capitalize;
}

img {
    padding: 20px;
    min-width: 171px;
    min-height: 171px;
    margin-top: 5px;
	max-width: 90%;
    background-color: #D4D3DD;
    border-radius: 50px;
}

nav .search-container {
    float: right;
} 

.search-container {
    float: right;
    margin-left: 100px;
    padding-left: 10px;
    
}

.skeleton-container {
    height: 330px;
}

.skeleton-container:empty {
    background-image: linear-gradient(#ccc,#ccc),
    linear-gradient(#ccc,#ccc),
    linear-gradient(#ccc,#ccc),
    linear-gradient(#ccc,#ccc),
    linear-gradient(#f1f1f1, #f1f1f1);
    background-size: 171px 171px, 190px 18px, 190px 18px, 190px 28px, 100% 100%;
    background-position: 50% 55px, 50% 237px, 50% 271px, 50% 309px, 0 0 ;
    background-repeat: no-repeat;  
}

.skeleton-container:empty:after {
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left, #92fe9d 0, #00c9ff);
    background-size: 200% 200%;
    animation: loadingGradient 1s infinite;
}

@keyframes loadingGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: -200% 0%;
    }
}






