@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

body {
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    font-family: 'Lato';
    margin: 0;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokeLogo {
    background-color: #EFEFBB;
}

h1 {
    
    align-items: center;
    letter-spacing: 3px;
    
}

.poke-container {
    
    float: left;
    height: 100%;
    width: 190px;
    margin: 40px 110px 0px 110px ;
    border-radius: 13px;
    text-align: center;
   
}

.poke-container p,h2 {
    text-transform: capitalize;
}



img {
    margin-top: 50px;
    background-color: #D4D3DD;
    border-radius: 50px;
}
nav .search-container {
    float: right;
  }


.search-container {
    float: right;
    margin-left: 100px;
    padding-left: 10px;
    
}

.grass {
    background-color: rgba(5, 197, 5, 0.6);
}

.normal {
    background-color:#b6b3b3;
}

.water {
    background-color: #2e99e0;
}

.poison {
    background-color: #7500a3;
}

.bug {
    background-color: #d12ee0;
}

.electric {
    background-color: #eff31a;
}

.rock {
    background-color: rgba(168, 67, 8, 0.3);
}

.fighting {
    background-color: #fd2222;
}

.psychic {
    background-color: #ff5898;
}

.ground {
    background-color: #aa3213;
}

.dragon {
    background-color: #22d1fd;
}

.fairy {
    background-color: #e6055b;
}

.fire {
    background-color: #F6653C;
}

.ghost {
    background-color:#b56dd1;
}

.ice {
    background-color: #0509dd;
}

.dark {
    background-color: #333131;
}
.flying {
    background-color:#3ceaf6;
}

.steel {
    background-color: #7e7775;
}